<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SuperModFileClient -->
      <package
            uri="http://ai1.uni-bayreuth.de/supermod/file/client/0.1.0"
            class="de.ubt.ai1.supermod.mm.file.client.SuperModFileClientPackage"
            genModel="model/SuperModFileClient.genmodel"/>
   </extension>

null
null
null
</plugin>
