<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SuperModClient -->
      <package
            uri="http://ai1.uni-bayreuth.de/supermod/client/0.1.0"
            class="de.ubt.ai1.supermod.mm.client.SuperModClientPackage"
            genModel="model/SuperModClient.genmodel"/>
   </extension>

</plugin>