<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SuperStrap -->
      <package
            uri="http://ai1.uni-bayreuth.de/supermod/example/bootstrap/0.1.0/superstrap"
            class="de.ubt.ai1.supermod.example.bootstrap.superstrap.SuperstrapPackage"
            genModel="model/SuperStrap.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SuperStrap -->
      <parser
            type="superstrap"
            class="de.ubt.ai1.supermod.example.bootstrap.superstrap.util.SuperstrapResourceFactoryImpl"/>
   </extension>

</plugin>
