<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="de.ubt.ai1.supermod.vcs.client.team.SuperModRepositoryProvider"
            id="de.ubt.ai1.supermod.vcs.team.provider"
            metaFilePaths=".supermod/main/main.rep"
            typeClass="de.ubt.ai1.supermod.vcs.client.team.SuperModRepositoryProviderType">
      </repository>
   </extension>
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            class="de.ubt.ai1.supermod.vcs.client.team.SuperModRepositoryConfigurationWizard"
            icon="icons/obj16/SuperModVCS.gif" 
            id="de.ubt.ai1.supermod.vcs.team.wizard"
            name="SuperMod">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.team.ui.teamDecorators">
      <teamDecorator
            decoratorId="de.ubt.ai1.supermod.vcs.team.decorator"
            repositoryId="de.ubt.ai1.supermod.vcs.team.provider">
      </teamDecorator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="de.ubt.ai1.supermod.vcs.client.team.SuperModResourceLabelDecorator"
            id="de.ubt.ai1.supermod.vcs.team.decorator"
            label="SuperMod UI Decorator"
            lightweight="true"
            state="true">
      </decorator>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="de.ubt.ai1.supermod.vcs.team.resourceContributions">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IResource">
            	<test
                   args="org.eclipse.team.core.repository,de.ubt.ai1.supermod.vcs.team.provider"
                   property="org.eclipse.core.resources.projectPersistentProperty"
                   value="org.eclipse.team.core.repository=de.ubt.ai1.supermod.vcs.team.provider"/>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.update"
            name="Update">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.switch"
            name="Check-Out ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.co-scope"
            name="Scope and Check-Out ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.scope"
            name="Scope ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.commit"
            name="Commit ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.amend"
            name="Amend Previous Commit ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.add"
            name="Add to Version Control">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.remove"
            name="Remove from Version Control">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.revert"
            name="Revert">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.pull"
            name="Pull">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.push"
            name="Push ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.remoteProperties"
            name="Remote Repository Properties ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.editVersionSpace"
            name="Edit Variability Model ...">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.showHistory"
            name="Show History">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.disconnect"
            name="Disconnect">
      </command>
      <command
            categoryId="de.ubt.ai1.supermod.vcs.team.command.category"
            id="de.ubt.ai1.supermod.vcs.team.actions.export"
            name="Export Project">
      </command>
      <category
            id="de.ubt.ai1.supermod.vcs.team.command.category"
            name="SuperMod">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:team.main?after=group1">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.amend"
               icon="icons/obj16/amend.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.amend"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group1">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.commit"
               icon="icons/obj16/commit.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.commit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group1">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.scope"
               icon="icons/obj16/scope.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.scope"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group1">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.co-scope"
               icon="icons/obj16/checkout-switch.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.co-scope"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group1">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.switch"
               icon="icons/obj16/switch.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.switch"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group1">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.update"
               icon="icons/obj16/update.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group3">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.remove"
               icon="icons/obj16/remove.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
     <menuContribution
            locationURI="popup:team.main?after=group3">
		<command
        commandId="de.ubt.ai1.supermod.vcs.team.actions.add"
        icon="icons/obj16/add.gif"
        id="de.ubt.ai1.supermod.vcs.team.actions.add"
        style="push">
            <visibleWhen checkEnabled="false">
               <or>
                  <with variable="activeMenuSelection">
                     <reference definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions"/>
                  </with>
                  <with variable="activeMenuEditorInput">
                     <reference definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions"/>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
     <menuContribution
           locationURI="popup:team.main?after=group3">
        <command
              commandId="de.ubt.ai1.supermod.vcs.team.actions.revert"
              icon="icons/obj16/revert.gif"
              id="de.ubt.ai1.supermod.vcs.team.actions.revert"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <or>
                 <with
                       variable="activeMenuSelection">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
                 <with
                       variable="activeMenuEditorInput">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
              </or>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:team.main?after=group4">
        <command
              commandId="de.ubt.ai1.supermod.vcs.team.actions.remoteProperties"
              icon="icons/obj16/remote-properties.gif"
              id="de.ubt.ai1.supermod.vcs.team.actions.remoteProperties"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <or>
                 <with
                       variable="activeMenuSelection">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
                 <with
                       variable="activeMenuEditorInput">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
              </or>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:team.main?after=group4">
        <command
              commandId="de.ubt.ai1.supermod.vcs.team.actions.push"
              icon="icons/obj16/push.gif"
              id="de.ubt.ai1.supermod.vcs.team.actions.push"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <or>
                 <with
                       variable="activeMenuSelection">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
                 <with
                       variable="activeMenuEditorInput">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
              </or>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:team.main?after=group4">
        <command
              commandId="de.ubt.ai1.supermod.vcs.team.actions.pull"
              icon="icons/obj16/pull.gif"
              id="de.ubt.ai1.supermod.vcs.team.actions.pull"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <or>
                 <with
                       variable="activeMenuSelection">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
                 <with
                       variable="activeMenuEditorInput">
                    <reference
                          definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                    </reference>
                 </with>
              </or>
           </visibleWhen>
        </command>
     </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group2">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.editVersionSpace"
               icon="icons/obj16/edit-vs.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.editVersionSpace"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group5">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.export"
               icon="icons/obj16/export.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.export"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:team.main?after=group5">
         <command
               commandId="de.ubt.ai1.supermod.vcs.team.actions.disconnect"
               icon="icons/obj16/disconnect.gif"
               id="de.ubt.ai1.supermod.vcs.team.actions.disconnect"
               style="push">
            <visibleWhen checkEnabled="false">
               <or>
                  <with variable="activeMenuSelection">
                     <reference definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions"/>
                  </with>
                  <with variable="activeMenuEditorInput">
                     <reference definitionId="de.ubt.ai1.supermod.vcs.team.resourceContributions"/>
                  </with>
               </or>
            </visibleWhen>
         </command>    
      </menuContribution>     
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.update"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+U">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.switch"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+O">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.co-scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+W">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+S">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.commit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+C">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.amend"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+N">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.add"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+D">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.remove"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+R">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.revert"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+V">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.pull"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+L">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.push"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+P">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.editVersionSpace"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+E">
      </key>
      <key
            commandId="de.ubt.ai1.supermod.vcs.team.actions.showHistory"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.ubt.ai1.supermod.vcs.client.team.import.category"
            name="SuperMod">
      </category>
      <wizard
            category="de.ubt.ai1.supermod.vcs.client.team.import.category"
            class="de.ubt.ai1.supermod.vcs.client.team.SuperModCloneImportWizard"
            icon="icons/obj16/SuperModVCS.gif"
            id="de.ubt.ai1.supermod.vcs.client.team.wizard.clone"
            name="Clone Remote SuperMod Repository">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.UpdateHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.update">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.ScopeAndSwitchHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.co-scope">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.ScopeHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.scope">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.CommitHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.commit">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.AmendHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.amend">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.AddHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.add">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.RemoveHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.remove">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.RevertHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.revert">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.PullHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.pull">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.SwitchHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.switch">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.PushHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.push">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.RemotePropertiesHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.remoteProperties">         
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.EditVersionSpaceHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.editVersionSpace">         
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.ExportHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.export">
      </handler>
      <handler
            class="de.ubt.ai1.supermod.vcs.client.team.handlers.DisconnectHandler"
            commandId="de.ubt.ai1.supermod.vcs.team.actions.disconnect">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.team.ui.TeamPreferences"
            class="de.ubt.ai1.supermod.vcs.client.team.pages.SuperModPreferencePage"
            id="de.ubt.ai1.supermod.vcs.client.team.page"
            name="SuperMod">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.ubt.ai1.supermod.vcs.client.team.pages.SuperModPropertyPage"
            id="de.ubt.ai1.supermod.client.team.propertyPage"
            name="SuperMod">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
