<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ubt.ai1.supermod.module.client.injectorProvider">
      <moduleProvider
            description="A heterogeneous file system (EMF, text, XML) versioned by a local revision graph"
            moduleId="de.ubt.ai1.supermod.hetfile.purerev"
            moduleProviderClass="de.ubt.ai1.supermod.module.hetfile.purerev.client.HetfilePurerevClientModuleInjectorProvider"
            remote="false">
      </moduleProvider>
   </extension>

</plugin>
